//resets and defaults

html, body, div, main, nav, a, h1, h2, p,
form, ul, li, input, textarea, button, figure,
img, section, span {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;

  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;
  text-decoration: none;

  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: 'Source Sans Pro', Arial;
  background: #f2f2f2;
  font-size: 15px;
}

img {
  display: block;
  height: 100%;
  width: auto;
}

input, textarea, button {
  padding: 5px 8px;
  border-radius: 4px;
}

input, textarea {
  font-size: 13px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
}

button.cancel {
  border: none;
  float: right;
}

button.cancel:hover {
  color: #888;
}

button.submit {
  background: #f50;
  color: #fff;
  float: right;
}

button.submit:hover {
  background: #e42;
}

.hidden-submit {
  position: absolute;
  left: -9999px;
  display: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

//navbar

.navbar {
  background: #333;
  color: #ccc;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar > nav {
  width: 960px;
  margin: auto;
}

.navbar a {
  display: block;
  float: left;
}

.navbar a:hover {
  color: #fff;
  background: #111;
}

.navbar a.logo {
  float: left;
  width: 50px;
  height: 46px;
  padding: 0 15px;
  background: linear-gradient(90deg, rgb(45, 45, 45), rgb(60, 60, 60));
}

.sheep {
  display: block;
  height: 46px;
  background: asset-url('sheep-logo.png') no-repeat;
  background-position: center center;
  background-size: 80%;
}

.sheep.clone {
  opacity: .9;
  transform: translateY(-46px);
}

.logo:hover .clone {
  transform: translate(-1000px, -46px);
  -webkit-transition: transform 7s;
  transition: transform 7s;
}

.stream, .explore {
  padding: 13px 25px;
  border-right: 1px solid #111;
}

.navbar-right {
  float: right;
}

.current-user {
  vertical-align: center;
  padding: 7px 15px;
}

.current-user > span {
  float: left;
  padding: 6px 0 6px 10px;
}

.nav-upload, .logout {
  padding: 13px 15px;
}

.navbar-thumb {
  float: left;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

// general

.main {
  width: 960px;
  margin: 46px auto 42px;
  background: #fff;
  min-height: 800px;
}

.content {
  width: 920px;
  padding: 15px 20px;
}

// login

.main.login {
  margin: auto;
}

.login-header {
  width: 900px;
  padding: 15px 30px;
  height: 410px;
  border-top: 3px solid #f50;
  background: asset-url('login-header.jpg');
  background-size: cover;
  background-position: bottom center;
}

.login-sheep {
  opacity: .9;
  float: left;
  height: 46px;
  width: 50px;
  background: asset-url('sheep-logo.png') no-repeat;
  background-position: top left;
  background-size: 80%;
}

.soundclone {
  float: left;
  padding: 12px 0;
  vertical-align: center;
  color: #fff;
  opacity: .85;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.login-buttons {
  float: right;
  color: #fff;
  margin: 7px;
}

.sign-in, .guest {
  border: 1px solid #bbb;
  margin-right: 15px;
}

.sign-in:hover, .guest:hover {
  border: 1px solid #fff;
}

.create {
  background: #f50;
  border: 1px solid #f50;
}

.create:hover {
  border: 1px solid #e41;
  background: #e42;
}

.facebook {
  display: block;
  height: 43px;
  width: 180px;
  margin: 0 auto 20px;
}

.facebook > div {
  background: asset-url('facebook.png') no-repeat;
  background-size: cover;
  height: 100%;
  width: auto;
}

.facebook:hover {
  background: #f90;
  border-radius: 5px;
}

.email-login {
  border-top: 1px solid #eee;
}

.email-login > span {
  display: block;
  width: 26px;
  margin: auto;
  background: #fff;
  position: relative;
  top: -9px;
  text-align: center;
}

.login-form {
  display: block;
  width: 300px;
  margin: auto;
}

.login-form > form > input {
  width: 280px;
}

.login-form button {
  margin-top: 10px;
}

.form-errors {
  text-align: center;
  color: red;
}

// profile

.profile-header {
  height: 200px;
  padding: 30px;
  background: linear-gradient(135deg, rgba(60, 60, 100, 1), rgba(0, 0, 0, 0));
}

.profile-image {
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
}

.profile-names {
  width: 470px;
  padding-left: 30px;
  float: left;
}

.display-name, .full-name {
  display: block;
}

.header-name {
  float: left;
  border-radius: 3px;
  background: rgba(0,0,0,.8);
}

h1.header-name {
  font-size: 26px;
  color: #fff;
}

h2.header-name, a.header-name {
  font-size: 17px;
  padding: 5px;
  color: #ccc;
}

.display-name h1 {
  padding: 10px 5px;
  margin-bottom: 5px;
}

.full-name h2 {
  margin-right: 10px;
}

.profile-nav {
  display: block;
  text-align: right;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.profile-links {
  float: left;
  font-weight: bold;
  font-size: 24px;
}

.fa-pencil, .fa-trash {
  float: right;
  border: 1px solid #ccc;
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}

.fa-pencil:hover, .fa-trash:hover {
  border: 1px solid #999;
}

// forms

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(40, 40, 40, .7);
  z-index: 1001;
}

.modal-container {
  background: #fff;
  margin: 76px auto;
  width: 800px;
  padding: 25px;
  border-radius: 5px;
}

.modal-container.small {
  width: 500px;
  margin-top: 160px;
}

.modal-container > h2 {
  border-bottom: 1px solid #eee;
  font-size: 20px;
  padding-bottom: 5px;
}

.modal form {
  margin-top: 20px;
}

.modal label {
  display: block;
  font-size: 14px;
}

.modal input, .modal textarea {
  width: 250px;
  margin: 5px 0 20px;
}

.form-image {
  width: 50px;
  height: 50px;
}

// file upload

.file-upload-btn {
  border: 1px solid #ccc;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.file-upload-btn:hover {
  border: 1px solid #999;
}

.hidden-file-upload {
  display: none;
}

.audio-upload-btn {
  border: none;
  font-size: 17px;
  display: block;
  width: 164px;
  margin: auto;
  background: #f50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
}

.audio-upload-btn:hover {
  border: none;
  background: #e40;
}

.audio-upload {
  width: 800px;
  height: 300px;
  display: block;
  margin: auto;
  border: 1px solid #ddd;
  margin-top: 60px;
  padding-top: 40px;
}

.audio-upload > h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.2px;
  margin-bottom: 82px;
}

// like buttons

.heart {
  font-size: 15px;
}

button.like {
  border: 1px solid #ccc;
  font-size: 13px;
}

button.like:hover {
  border: 1px solid #999;
}

button.unlike {
  font-size: 13px;
  border: 1px solid #f50;
  color: #f50;
}

.playbar-like {
  float: right;
  margin: 7px;
}

.like.playbar-like {
  background: #fff;
}

button.follow {
  border: 1px solid #f50;
  background: #f50;
  color: #fff;
  letter-spacing: 1.5px;
}

.follow:hover {
  background: #e40;
}

.unfollow {
  color: #f50;
}

.unfollow:hover {
  border: 1px solid #f50;
}

// play buttons

.play-button {
  float: left;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #f50;
  position: relative;
  cursor: pointer;
}

.play-arrow {
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 12px solid #fff;
  margin: 9px 14px;
}

.pause-line {
  float:left;
  margin-top: 9px;
  height: 18px;
  width: 5px;
  background: #fff;
}

.pause-line.left {
  margin-left: 11px;
  margin-right: 4px;
}

// wavesurfer

.wave {
  width: 400px;
  height: 50px;
  margin-left: 45px;
}

.wave > wave {
  margin-top: 10px;
  height: 70px !important;
}

.wave > wave > canvas, .wave > wave > wave {
  top: -30px !important;
}

.show-wave {
  width: 550px;
  height: 200px;
  margin-top: 150px;
}

.show-wave > wave {
  height: 200px !important;
}

wave {
  cursor: pointer;
}

// tracks index

//remove this later
.tracks > h2 {
  font-weight: bold;
  font-size: 24px;
}

.track {
  display: block;
  margin: 20px 0 40px;
}

.track-detail-container {
  float: left;
  width: 500px;
  height: 50px;
  margin-left: 15px;
}

.track-naming {
  float: left;
  padding-left: 10px;
  font-size: 14px;
}

.track-user {
  font-size: 13px;
  color: #999;
}

.track-name, .track-user {
  display: block;
}

.track-name:hover, .track-user:hover {
  color: #d60;
}

.track-buttons {
  position: relative;
  font-size: 14px;
  margin-top: 30px;
}

.track-button {
  float:left;
  visibility: hidden;
}

.track:hover .track-button {
  visibility: visible;
}

.track-image {
  width: 150px;
  height: 150px;
  float: left;
  overflow: hidden;
}

.index-like {
  margin-top: 31px;
  padding: 2px 10px;
}

// track show

.track-header {
  height: 320px;
  padding: 30px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(60, 60, 100, 1));
}

.track-header-left {
  float: left;
}

.track-header-image {
  width: 320px;
  height: 320px;
  float: right;
  overflow: hidden;
}

.track-names {
  float: left;
  margin-left: 15px;
}

.track-user-name:hover {
  color: #eee;
}

.track-name h1 {
  padding: 8px 5px;
}

.track-user-name {
  margin-bottom: 5px;
}

// explore

.explore-item {
  float: left;
  padding: 20px 9.5px;
}

.explore-image {
  position: relative;
  margin: auto;
  width: 133px;
  height: 133px;
  overflow: hidden;
}

.small-like-btn {
  position:absolute;
  right: 0;
  bottom: 2px;
  padding: 0 5px;
  text-shadow: 0 0 10px #555;
  visibility: hidden;
}

.explore-item:hover .small-like-btn {
  visibility: visible;
}

.small-like-btn > .heart {
  font-size: 24px;
}

.small-like {
  color: #fff;
}

.small-unlike {
  color: #f50;
}

.explore-image > .play-button {
  position: absolute;
  top: 45px;
  left: 45px;
  display: none;

}

.explore-item:hover .play-button {
  display: block;
}

.explore-info {
  text-align: center;
  display: block;
  margin-top: 5px;
}

// dialog

.popup {
  display: block;
  position: absolute;
  background: #fff;
  top: -15px;
  left: 50px;
  width: 300px;
  border: 1px solid #ddd;
  padding: 5px;
  box-shadow: 1px 1px 8px #ccc;
  z-index: 100;
}

.popup-arrow {
  position: absolute;
  padding: 5px;
  top: -6px;
  left: 15px;
  transform: rotate(45deg);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  display: block;
  background: #fff;
  z-index: 101;
}

// playbar

.playbar {
  background: #eee;
  z-index: 1000;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #ccc
}

.playbar-body {
  width: 960px;
  margin: auto;
}

.controls {
  float: left;
}

.playback-button {
  font-size: 20px;
  padding: 10px 0;
  width: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.progress {
  float: left;
  padding: 14px 70px;
  font-size: 13px;
}

.progress > * {
  float: left;
}

.elapsed {
  color: #f50;
}

.progress-timeline {
  width: 350px;
  height: 1px;
  background: #ccc;
  position: relative;
  margin: 7px 10px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: #f50;
  height: 1px;
}

.track-info {
  float: right;
  padding: 1px 15px;
}

.track-info:hover {
  background: #aaa;
}

.playbar-art {
  float: left;
  height: 30px;
  width: 30px;
  margin: 5px;
  overflow: hidden;
}

.playbar-title {
  float: left;
  padding: 12px;
}

//

.loader {
  font-size: 20px;
  margin: 150px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: spinner 1.3s infinite linear;
  animation: spinner 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes spinner {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #bbb, 2em -2em 0 0em #bbb, 3em 0 0 -1em #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 -1em #bbb, -3em 0 0 -1em #bbb, -2em -2em 0 0 #bbb;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #bbb, 2em -2em 0 0.2em #bbb, 3em 0 0 0 #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 -1em #bbb, -3em 0 0 -1em #bbb, -2em -2em 0 -1em #bbb;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #bbb, 2em -2em 0 0 #bbb, 3em 0 0 0.2em #bbb, 2em 2em 0 0 #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 -1em #bbb, -3em 0 0 -1em #bbb, -2em -2em 0 -1em #bbb;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #bbb, 2em -2em 0 -1em #bbb, 3em 0em 0 0 #bbb, 2em 2em 0 0.2em #bbb, 0 3em 0 0em #bbb, -2em 2em 0 -1em #bbb, -3em 0em 0 -1em #bbb, -2em -2em 0 -1em #bbb;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #bbb, 2em -2em 0 -1em #bbb, 3em 0 0 -1em #bbb, 2em 2em 0 0em #bbb, 0 3em 0 0.2em #bbb, -2em 2em 0 0 #bbb, -3em 0em 0 -1em #bbb, -2em -2em 0 -1em #bbb;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #bbb, 2em -2em 0 -1em #bbb, 3em 0 0 -1em #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 0 #bbb, -2em 2em 0 0.2em #bbb, -3em 0 0 0 #bbb, -2em -2em 0 -1em #bbb;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #bbb, 2em -2em 0 -1em #bbb, 3em 0em 0 -1em #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 0 #bbb, -3em 0em 0 0.2em #bbb, -2em -2em 0 0 #bbb;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #bbb, 2em -2em 0 -1em #bbb, 3em 0 0 -1em #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 0 #bbb, -3em 0em 0 0 #bbb, -2em -2em 0 0.2em #bbb;
  }
}
@keyframes spinner {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #bbb, 2em -2em 0 0em #bbb, 3em 0 0 -1em #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 -1em #bbb, -3em 0 0 -1em #bbb, -2em -2em 0 0 #bbb;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #bbb, 2em -2em 0 0.2em #bbb, 3em 0 0 0 #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 -1em #bbb, -3em 0 0 -1em #bbb, -2em -2em 0 -1em #bbb;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #bbb, 2em -2em 0 0 #bbb, 3em 0 0 0.2em #bbb, 2em 2em 0 0 #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 -1em #bbb, -3em 0 0 -1em #bbb, -2em -2em 0 -1em #bbb;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #bbb, 2em -2em 0 -1em #bbb, 3em 0em 0 0 #bbb, 2em 2em 0 0.2em #bbb, 0 3em 0 0em #bbb, -2em 2em 0 -1em #bbb, -3em 0em 0 -1em #bbb, -2em -2em 0 -1em #bbb;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #bbb, 2em -2em 0 -1em #bbb, 3em 0 0 -1em #bbb, 2em 2em 0 0em #bbb, 0 3em 0 0.2em #bbb, -2em 2em 0 0 #bbb, -3em 0em 0 -1em #bbb, -2em -2em 0 -1em #bbb;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #bbb, 2em -2em 0 -1em #bbb, 3em 0 0 -1em #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 0 #bbb, -2em 2em 0 0.2em #bbb, -3em 0 0 0 #bbb, -2em -2em 0 -1em #bbb;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #bbb, 2em -2em 0 -1em #bbb, 3em 0em 0 -1em #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 0 #bbb, -3em 0em 0 0.2em #bbb, -2em -2em 0 0 #bbb;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #bbb, 2em -2em 0 -1em #bbb, 3em 0 0 -1em #bbb, 2em 2em 0 -1em #bbb, 0 3em 0 -1em #bbb, -2em 2em 0 0 #bbb, -3em 0em 0 0 #bbb, -2em -2em 0 0.2em #bbb;
  }
}
