//resets and defaults

html, body, div, main, nav, a, h1, h2, p,
form, ul, li, input, textarea, button, figure,
img, section, span {
  border: 0;
  margin: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;
  text-decoration: none;

  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: Arial;
  background: #f2f2f2;
  font-size: 14px;
}

img {
  display: block;
  height: 100%;
  width: auto;
}

input, textarea, button {
  border: 1px solid #ccc;
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

button:hover {
  border: 1px solid #999;
}

button.cancel {
  border: none;
}

.hidden-submit {
  position: absolute;
  left: -9999px;
  display: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

//navbar

.navbar {
  background: #333;
  color: #ccc;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar > nav {
  width: 960px;
  margin: auto;
}

.navbar a {
  display: block;
  float: left;
}

.navbar a:hover {
  color: #fff;
  background: #111;
}

.navbar a.logo {
  float: left;
  width: 50px;
  height: 46px;
  padding: 0 15px;
  background: linear-gradient(90deg, rgb(45, 45, 45), rgb(60, 60, 60));
}

.sheep {
  display: block;
  height: 46px;
  background: asset-url('sheep-logo.png') no-repeat;
  background-position: center center;
  background-size: 80%;
}

.sheep.clone {
  opacity: .9;
  transform: translateY(-46px);
}

.logo:hover .clone {
  transform: translate(-1000px, -46px);
  -webkit-transition: transform 7s;
  transition: transform 7s;
}

.stream, .explore, .logout {
  padding: 15px 25px;
}

.stream, .explore {
  border-right: 1px solid #111;
}

.navbar-right {
  float: right;
}

.current-user-profile {
  vertical-align: center;
  padding: 8px 10px;
}

.current-user-profile > span {
  float: left;
  padding: 6.5px 0 6.5px 10px;
}

.navbar-thumb {
  float: left;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

// general

.main {
  width: 960px;
  margin: 46px auto 0;
  background: #fff;
  min-height: 800px;
}

.content {
  width: 920px;
  padding: 15px 20px;
}

// login

.main.login {
  margin: auto;
}

.login-header {
  width: 900px;
  padding: 15px 30px;
  height: 410px;
  border-top: 3px solid #f50;
  background: asset-url('login-header.jpg');
  background-size: cover;
  background-position: bottom center;
}

.login-sheep {
  opacity: .9;
  float: left;
  height: 46px;
  width: 50px;
  background: asset-url('sheep-logo.png') no-repeat;
  background-position: top left;
  background-size: 80%;
}

.soundclone {
  float: left;
  padding: 12px 0;
  vertical-align: center;
  color: #fff;
  opacity: .85;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-weight: bold;
}

.login-buttons {
  float: right;
  color: #fff;
  margin: 7px;
}

.sign-in, .guest {
  border: 1px solid #bbb;
  font-size: 14px;
  margin-right: 15px;
}

.sign-in:hover, .guest:hover {
  border: 1px solid #fff;
}

.create {
  background: #f50;
  border: 1px solid #f50;
  font-size: 14px;
}

.create:hover {
  border: 1px solid #e41;
  background: #e42;
}

// profile

.profile-header {
  height: 200px;
  padding: 30px;
  background: linear-gradient(135deg, rgba(70, 50, 108, 1), rgba(0, 0, 0, 0));
}

.profile-image {
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
}

.profile-username {
  float: left;
  font-size: 24px;
  padding: 10px 5px;
  color: #fff;
  background: rgba(0,0,0,.8);
  margin-left: 30px;
}

.profile-nav {
  display: block;
  text-align: right;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.update-user {
  float: right;
}

// forms

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(200, 200, 200, .7);
  z-index: 1001;
}

.modal-container {
  background: #fff;
  margin: 76px auto;
  width: 800px;
  padding: 25px
}

.modal-container > h2 {
  border-bottom: 1px solid #eee;
  font-size: 20px;
  padding-bottom: 5px;
}

.modal form {
  margin-top: 20px;
}

.modal label {
  display: block;
  font-size: 14px;
}

.modal input, .modal textarea {
  width: 250px;
  margin: 5px 0 20px;
}

.form-image {
width: 50px;
height: 50px;
}

// tracks index

.tracks {
  margin-top: 10px;
}

.tracks > h2 {
  font-weight: bold;
  font-size: 24px;
}

.track {
  margin: 10px 0;
  display: block;
  margin: 40px 0;
}

.track-detail-container {
  float: left;
  width: 500px;
  height: 50px;
  margin-left: 15px;
}

.track-naming {
  float: left;
  padding-left: 10px;
  font-size: 14px;
}

.track-username {
  font-size: 13px;
  margin-bottom: 1px;
  color: #999;
}

.track-username:hover {
  color: #000;
}

.play-button {
  float: left;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #f50;
  position: relative;
  cursor: pointer;
}

.play-arrow {
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 12px solid #fff;
  margin: 9px 14px;
}

.track-buttons {
  position: relative;
  font-size: 14px;
  margin-top: 30px;
}

.track-buttons > button {
  visibility: hidden;
}

.track:hover button {
  visibility: visible;
}

.track-image {
  width: 150px;
  height: 150px;
  float: left;
  overflow: hidden;
}

// dialog

.popup {
  display: block;
  position: absolute;
  background: #fff;
  top: -15px;
  left: 50px;
  width: 300px;
  border: 1px solid #ddd;
  padding: 5px;
  box-shadow: 1px 1px 8px #ccc;
  z-index: 100;
}

.popup-arrow {
  position: absolute;
  padding: 5px;
  top: -6px;
  left: 15px;
  transform: rotate(45deg);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  display: block;
  background: #fff;
  z-index: 101;
}
